<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:jaxws="http://cxf.apache.org/jaxws"
    xsi:schemaLocation="
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd" default-autowire="byName">
	
	<!-- 二维码socket服务的线程池-->
	<bean id="QRCodePool" class="com.huateng.pay.handler.pool.ThreadPool"></bean>
	
	<bean id="orderQueryManager" class="com.huateng.pay.handler.services.OrderQueryManager" >
		<property name="orderDao" ref="orderDao"/>
		<property name="wxPayService" ref="wxPayService"/>
		<property name="wxManager" ref="wxManager"/>
	</bean>
	
	<bean id="notifyQueue" class="com.huateng.pay.po.queue.NotifyQueue"/>
	
	<bean id="notifyHandlerManager" class="com.huateng.pay.handler.services.NotifyHandlerManager">
		<property name="orderDao" ref="orderDao"/>
		<constructor-arg ref="QRCodePool"></constructor-arg>
	</bean>

	
	<bean id="queueHandlerTask" class="com.huateng.pay.handler.task.QueueHandlerTask" >
		<constructor-arg ref="notifyQueue"></constructor-arg>
		<constructor-arg ref="notifyHandlerManager"></constructor-arg>
	</bean>
	
</beans>


